<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amalgamation</title>
    <link rel = "icon" href = "{% static '/images/amalgamation_logo.jpg' %}" width="15px" height="10px" type = "image/x-icon">
    <link href="{% static '/css/proj.css' %}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
</head>
<body>
  <header>
    <div class="container-fluid amg">
        <nav class="navbar navbar-expand-lg navbar-dark">
          <a class="navbar-brand" href="{% url 'appadmin:homepage' %}"><img src="{% static '/images/amalgamation_logo.jpg' %}" alt="" width="40" height="50"><b> Amalgamation</b></a>
        </nav>
    </div>   
  </header>  
  <div class="one">   
    <ul class="nav justify-content-end navbar-primary">
      <li class="nav-item">
        <a class="nav-link" style="color: #0a0a0a;" href="{% url 'appadmin:homepage' %}"><b>Home</b></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color: #0a0a0a;" href="{% url 'appadmin:register' %}"><b>Register</b></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="dropdown" style="color: #0a0a0a;" href=""><b>Login <i class="fas fa-chevron-down"></i></b></a>
        <div class="dropdown-menu" style="background-color: burlywood;">
          <a class="dropdown-item" style="font-weight:bolder;" href="{% url 'appadmin:loginuser' %}">User Login</a>
          <a class="dropdown-item" style="font-weight:bolder" href="{% url 'appadmin:loginmanager' %}">Manager Login</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color: #0a0a0a;" href="{% url 'appadmin:admlogin' %}"><b>Admin</b></a>
      </li>
    </ul>
  </div>
  <div class="container-fluid center">
    <div class="row">
      <div class="col-sm-12 md-12">
        <h5>Come Over and Make it a Memorable One!!!</h5>
      </div>
    </div>
  </div> 
  <div class="container-fluid center2">
    <div class="row">
      <div class="col-sm-4 srch">
        <h1><i class="fas fa-search mr-3"></i>Search</h1>
        <p>Looking for a spot to spend your leisure time playing? Take a look at different turfs in Kannur District.</p>
      </div>
      <div class="col-sm-4">
        <h1><i class="fas fa-book mr-3"></i>Book</h1>
        <p>Found your spot? Get an immediate booking by clicking on the book now button and save it in your diary.</p>
      </div>
      <div class="col-sm-4">
        <h1><i class="fas fa-futbol mr-3"></i>Play</h1>
        <p>Now it's time to roll. Get set to play on the turf you've booked with your friends.</p>
      </div>
    </div>
  </div>   
  <div class="col-md-12 md-none">
    <div class="meet-pal-img-wrap">
      <img src="https://img.freepik.com/free-vector/cartoon-football-players-training-collection_23-2149007091.jpg?w=2000" class="img-fluid wow  bounceIn slower" style="visibility: visible; animation-name: bounceIn;">
    </div>
  </div> 
  <div class="container-fluid center3">
    <div class="row">
      <div class="col-md-6 messi">
        <img src="{% static '/images/messi.jpg' %}" alt="" sizes="" srcset="">
      </div>
      <div class="col-md-6">
        <h4>"You have to fight to reach your dream. You have to sacrifice and work hard for it."
          - Lionel Messi.
        </h4>
        <br><br>
        <h5>Own a turf ? <a href="{% url 'appadmin:turfrequest' %}">Contact us</a></h5>
      </div>
    </div>
  </div>  
  <div class="container- my-3">
    <footer class="text-center text-lg-start text-white" style="background:linear-gradient(to right, #568EE3, #B368ED);">
      <div class="container p-4 pb-0">
        <section class="">
          <div class="row">
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
              <h6 class="text-uppercase mb-4 font-weight-bold">
                About Us
              </h6>
              <p style="font-family: Arial, Helvetica, sans-serif;">
                We are one of the leading online turf booking platform based in Kerala.
                Choose the turf of your choice and enjoy the time with your friends - We can make it simple for you.
                So join us and have the blast!!! 
              </p>
            </div>
            <hr class="w-100 clearfix d-md-none" />
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
              <h6 class="text-uppercase mb-4 font-weight-bold">Quick Links</h6>
              <p class="Footers">
                <a class="text-white" href="{% url 'appadmin:homepage' %}">Home</a>
              </p>
              <p>
                <a class="text-white" href="{% url 'appadmin:loginuser' %}">Login</a>
              </p>
              <p>
                {% if 'userlog_id' in request.session %}
                <a class="text-white" href="{% url 'user:usearchturf' %}">Book Now</a>
                {% else %}
                <a class="text-white" href="{% url 'appadmin:loginuser' %}">Book Now</a>
                {% endif %}
              </p>
            </div>
            <hr class="w-100 clearfix d-md-none" />
            <hr class="w-100 clearfix d-md-none" />
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
              <h6 class="text-uppercase mb-4 font-weight-bold">Contact Us</h6>
              <p><i class="fas fa-pen mr-3"></i> Amalgamation</p>
                <p><i class="fas fa-home mr-3"></i> Taliparamba, Kannur, Kerala</p>
                <p><i class="fas fa-envelope mr-3"></i> amalg@gmail.com</p>
                <p><i class="fas fa-phone mr-3"></i> + 7012 39 1939</p>
            </div>
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
              <h6 class="text-uppercase mb-4 font-weight-bold">Follow us</h6>
  
              <a
                 class="btn btn-primary btn-floating m-1"
                 style="background-color: #3b5998"
                 href="#!"
                 role="button">
                 <i class="fab fa-facebook-f"></i>
              </a>
              <a
                 class="btn btn-primary btn-floating m-1"
                 style="background-color: #55acee"
                 href="#!"
                 role="button">
                 <i class="fab fa-twitter"></i>
              </a>
              <a
                 class="btn btn-primary btn-floating m-1"
                 style="background-color: #dd4b39"
                 href="#!"
                 role="button">
                 <i class="fab fa-google"></i>
              </a>
              <a
                 class="btn btn-primary btn-floating m-1"
                 style="background-color: #ac2bac"
                 href="#!"
                 role="button">
                 <i class="fab fa-instagram"></i>
              </a>
              <a
                 class="btn btn-primary btn-floating m-1"
                 style="background-color: #0082ca"
                 href="#!"
                 role="button">
                 <i class="fab fa-linkedin-in"></i>
              </a>
            </div>
          </div>
        </section>
      </div>
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        © 2022 Copyright:
        <a class="text-white" href="#">Amalgamation.com</a>
      </div>
    </footer>
  </div>
   
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
</body>
</html>